[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}

nz-button-group [nz-button] {
  margin-right: 0;
}
.example-input{
  width: 200px;
  margin-left: 1000px;
}
.esinput{
  position: absolute;
  width: 300px;
  margin-left: 1px;

}
